@import '../../../css/style-guide.scss';

header {
  display: flex;
  align-items: center;
  background: var(--app-bg-color-secondary);
  min-height: 70px;
  width: 100%;
  font-family: 'Roboto Medium';
  border-bottom: 1px solid var(--app-border-color);
  margin-bottom: 1em;
  position: fixed;
  top: 0;

  .app-title {
    font-family: 'Roboto Medium';
    font-size: map-get($font-size, 'lg');
  }

  & > div {
    display: flex;
    align-items: center;
    padding-left: 2em;

    tdn-ui-icon {
      margin-right: 0.5em;
      cursor: pointer;
    }
  }

  .page-title {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto Medium';
    margin-left: auto;
    padding-left: 127px;
  }

  // right-justify navigation
  nxlp-nav {
    display: flex;
    margin-left: auto;
    padding-right: 2em;
  }
}

